.container {
  padding: var(--spacer);
}

.firstTimeContainer {
  padding: var(--spacer);
  font-size: x-large;
  background-color: var(--background-fill-light);
  border-radius: 0.5em;
}

.getInvolvedContainer {
  margin-top: 10em;
  margin-bottom: 5em;
  font-size: x-large;
  padding: var(--spacer);
  background-color: var(--brand-blue-dark);
  border-radius: 0.5em;
}

.firstTimeButton {
  padding: var(--spacer);
  background-color: var(--background-fill-light);
}

.getInvolvedButton {
  padding: var(--spacer);
  background-color: var(--brand-blue-dark);
}

.firstTimeHeading {
  font-size: xx-large;
  display: flex;
  gap: calc(var(--spacer) / 4);
  margin-bottom: calc(var(--spacer) / 2);
}

.getInvolvedHeading {
  font-size: xx-large;
  display: flex;
  gap: calc(var(--spacer) / 4);
  margin-bottom: calc(var(--spacer) / 2);
  color: white;
}

.heading {
  display: flex;
  gap: calc(var(--spacer) / 4);
  margin-bottom: calc(var(--spacer) / 2);
}

.heading h3 {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.icon {
  margin: 0;
}

.boxTitle {
  margin-top: 0.5em;
}

.icon svg {
  width: 4rem;
  stroke: var(--brand-green);
}
