:root {
  /* Portal brand color variables */
  --brand-black: #051117;
  --brand-blue: #092c38;
  --brand-cyan: #00eddd;
  --brand-purple: #d42248;
  --brand-violet: #fb2e5e;

  --brand-blue-light: #137691;
  --brand-blue-dark: #0e4558;
  --brand-blue-darker: #052530;
  --brand-green-light: #87c300;
  --brand-green: #00b96e;
  --brand-green-dark: #108a43;
  --brand-white: #fff;

  --brand-grey-white: #f0f4f6;
  --brand-grey: #a3afb7;
  --brand-greyish: #d8d8d8;
  --brand-grey-light: #8b98a9;
  --brand-grey-lighter: #e2e2e2;
  --brand-grey-dimmed: #f7f7f7;

  --brand-gradient: linear-gradient(
      to right bottom,
      var(--brand-cyan),
      var(--brand-blue-light)
  );

  --brand-alert-green: #5fb359;
  --brand-alert-red: #d42248;
  --brand-alert-orange: #b35f36;
  --brand-alert-yellow: #eac146;

  /* Ocean brand color variables */
  --ocean-white: #ffffff;
  --ocean-black: #141414;
  --ocean-pink: #ff4092;
  --ocean-purple: #7b1173;
  --ocean-violet: #e000cf;

  --ocean-grey-darker: #201f1f;
  --ocean-grey-dark: #303030;
  --ocean-grey: #41474e;
  --ocean-grey-light: #8b98a9;
  --ocean-grey-lighter: #e2e2e2;
  --ocean-grey-dimmed: #f7f7f7;

  --ocean-gradient: linear-gradient(to right bottom, #7b1173, #ff4092);
}